<div class="row mb25">
  <div class="col-xs-12">
    <%=raw @page.content_for(:slide_show) %>
  </div>
</div>

<div class="row">
  <div class="col-sm-4">
    <%=raw @page.content_for(:left_card) %>
  </div>
  <div class="col-sm-4">
    <%=raw @page.content_for(:center_card) %>
  </div>
  <div class="col-sm-4">
    <%=raw @page.content_for(:right_card) %>
  </div>
</div>

